//===----------------------------------------------------------------------===//
//                                                                            //
// This file is Modular Inc proprietary.                                      //
//                                                                            //
//===----------------------------------------------------------------------===//

#define KGEN_VERSION_STRING "@MODULAR_VERSION_STRING@"
