[project]
name = "modular"
version = "0"
requires-python = ">= 3.10"
dependencies = [
    "mojo==0.26.1.0.dev2025121605",
]

[dependencies]
max = "*"

[[tool.uv.index]]
url = "https://dl.modular.com/public/nightly/python/simple/"
