/*
 * N.B. This is a temporary file to preserve the existing build semantics.
 * Source-based version patches will break all incremental caching (for good
 * reasons, since any file including this header will need to be invalidated on
 * *any* source change). Instead, link-based stamps should be used.
 */

#define MODULAR_VERSION_MAJOR    @MODULAR_VERSION_MAJOR@
#define MODULAR_VERSION_MINOR    @MODULAR_VERSION_MINOR@
#define MODULAR_VERSION_PATCH    @MODULAR_VERSION_PATCH@
#define MODULAR_VERSION_REVISION "@MODULAR_VERSION_REVISION@"
#define MODULAR_VERSION_LABEL    "@MODULAR_VERSION_LABEL@"
#define MODULAR_BUILD_TYPE_LOWER "@MODULAR_BUILD_TYPE_LOWER@"
#define MODULAR_VERSION_STRING   "@MODULAR_VERSION_STRING@"
